<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>强国在线搜</title>
    <script src="./qiangguo.json"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <style>
        .answer {
            background: gainsboro;
        }
    </style>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="container">
    <div id="app">
        <div v-html="message"></div>
        <input type="text" class="form-control" v-model="sea">
        <hr>
        <div v-for="x in arr_qa" class="panel panel-default">
            <div class="panel-heading">{{x.ques}}</div>
            <div class="panel-body list-group-item" v-bind:class="{'answer':i==x.con-1}" v-for='(y,,i) in x.anss'>{{y}}</div>
        </div>
    </div>

    <script>
        var regUnSyb = /[^\u4e00-\u9fa5a-zA-Z0-9]+/g;

        function search(value) {
            return text.filter(function(text) {
                value = value.replace(regUnSyb, "\\W*?");
                if (value == '') {
                    return false
                }
                var re = new RegExp(value, "g"); //将符号都转为“\W*”，并转为正则表达式
                var res = text.ques.match(re);
                return res;
            })
        }
        new Vue({
            el: '#app',
            data: {
                message: '<h1>强国在线搜</h1>',
                arr_qa: {},
                sea: '中国'
            },
            computed: {},
            watch: {
                sea: function(str) {
                    this.arr_qa = search(str);
                }
            }
        });
    </script>
</body>

</html>